.header-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;

  gap: 0.2rem;
}

.title a {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  color: var(--color-gray-80);

  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2rem;
  text-align: left;
}

.title a svg {
  color: var(--color-gray-70);
}

.header-admin h5 {
  font-size: 2.4rem;
  font-weight: 700;
  font-style: normal;
  line-height: 3.6rem;
  text-align: left;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.new-coupon {
  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  background-color: #ffffff;

  border-radius: 0.6rem;
}

.header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-description {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.title-description span {
  font-weight: 700;
  font-style: normal;
  line-height: 2.4rem;
  text-align: left;
}

.title-description p {
  color: var(--color-gray-80);

  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2rem;
  text-align: left;
}

.options-form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

.input-and-checkbox {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.radio-buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
}

.radio-button-wrapper {
  cursor: pointer;
}

.radio-button-wrapper input {
  display: none;
}

.radio-button-wrapper input:checked + .radio-button-box {
  border: 0.1rem solid var(--color-blue-100);
}

.radio-button-wrapper input:checked + .radio-button-box svg,
.radio-button-wrapper input:checked + .radio-button-box span {
  color: var(--color-blue-100);
}

.radio-button-box {
  height: 100%;

  padding: 2.4rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  border: 0.1rem solid var(--color-gray-50);
  border-radius: 0.4rem;
}

.radio-button-box svg {
  color: var(--color-gray-70);
}

.radio-button-box span {
  color: var(--color-gray-80);

  font-weight: 400;
  font-style: normal;
  line-height: 2.4rem;
  text-align: center;
}

.actions-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
}

@media screen and (max-width: 768px) {
  .radio-buttons-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }
}

@media screen and (max-width: 640px) {
  .options-form-container {
    grid-template-columns: 1fr;
  }

  .radio-buttons-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .header-admin {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .header-card {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .buttons-wrapper,
  .actions-bottom {
    width: 100%;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.8rem;
  }
}
