ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.title-nav-section {
  padding: 0 1.2rem;

  color: var(--color-gray-60);

  font-size: 1.2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6rem;
  text-align: left;
}
